* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D4D3DC;
    overflow-x: hidden; 
}



h1 {
    font-weight: 1;
    font-family: Impact, Charcoal, sans-serif;
    font-size: min(6vh, 6vw);
    color: #000000;
}

li {
    text-align: left;
    font-size: min(4vh, 4vw);
    color: #000000;
    margin: 0;
}


















